body {
    margin: 0;
    font-family: 'Exo', sans-serif;
}

p,
blockquote {
    font-size: 0.9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
    padding: 0.8em 1.2em;
}

.logo {
    width: 130px;
}
::-webkit-scrollbar{
    background: #ddd;
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow:  inset 0 0 10px #00000070;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg, #3498db, #34495e);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
header {
    display: flex;
    justify-content: space-between;
}

.hide-mobile {
    display: none;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

nav ul {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(36, 41, 44);
    height: 100vh;
    z-index: 999;
    padding-top: 3em;
    li a {
        color: white;
        display: block;
        padding: 1em 2em;
        width: 100%;
        background: rgb(49, 55, 59);
        text-transform: uppercase;
        &:hover {
            background-color: rgb(65, 73, 78);
            text-decoration: none;
            color: #ffffff;
        }
    }
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
    img {
        cursor: pointer;
        width: 15px;
    }
}

.flexslider {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%; // height: 550px;
    }
}

.container-fluid.slider {
    padding: 0;
    .carousel-indicators li {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .carousel-item,
    .carousel-inner {
        height: 100%;
    }
    .carousel-indicators {
        bottom: -5px;
    }
    #carouselExampleIndicators {
        height: 100%;
    }
}

.main {
    max-width: 100%;
    text-align: left;
    .entry-title {
        font-size: 24px;
        line-height: 47.6px;
        font-weight: 700;
    }
    .timer {
        border-bottom: 1px solid #ddd
    }
}

#footer{
    .footer-distributed{
        background-color: #292c2f;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
    
        padding: 30px 50px 10px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 40%;
    }
    
    /* The company logo */
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    .footer-distributed h3 span{
        color:  #5383d3;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
        text-align: left;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  #5383d3;
        text-decoration: none;;
    }
    
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 20%;
        p{
            color: #ffffff;
            margin-bottom: 6px;
            font-weight: 300;
            font-size: 14px;
        }
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
     
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 20px;

    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    .footer-slogan{
        color: #ffffff;
        margin: 30px 0 20px;
        text-align: center;
        .slogan{
            text-align: center;
            font-size: 18px;
            margin: 0;
        }
    }
 
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 880px) {
    
        .footer-distributed{
            font: bold 14px sans-serif;
        }
    
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .footer-distributed .footer-center i{
            margin-left: 0;
        }
        .footer-center .infor{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                width: 200px;
            }
    }
    }
    
}

@media only screen and(max-width: 1024px) {
    header nav ul li {
        padding: 0;
        a {
            padding: 1em 2em !important;
        }
    }
}

@media only screen and(min-width: 650px) {
    nav ul {
        width: 40%;
    }
}

@media only screen and(min-width: 875px) {
    header nav ul li a {}
    header nav ul li {
        user-select: none;
        &:hover {
            background: rgb(65, 73, 78);
            color: while;
        }
        &:hover a {
            color: #ffffff;
        }
    }
    header nav ul li:first-child:hover {
        background: transparent;
    }
}

@media only screen and(min-width: 1024px) {
    .container {
        max-width: 96%;
        margin: 0 auto;
    }
    .show-desktop {
        display: block;
        margin: 0;
    }
    .hide-desktop {
        display: none;
    }
    nav ul {
        position: inherit;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0;
    }
    nav ul li {
        float: left;
    }
    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
        &:hover {
            background: inherit;
        }
    }
    #flexslider {
        height: 600px;
    }
}

@media only screen and(min-width: 1600px) {
    #flexslider {
        height: 700px;
    }
}

@media only screen and (min-width: 1280px) {
    .entry-content {
        padding: 0 40px 0 100px;
    }
}

.entry-content {
    p:first-child {
        font-weight: 300;
    }
    p {
        margin-bottom: 15px;
    }
    h2 {
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
    }
    .wp-caption {
        margin-bottom: 1.25em;
        max-width: 96%;
        text-align: center;
    }
    .wp-caption {
        margin-top: .4em;
    }
    .aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .wp-caption img {
        display: block;
        margin: 0 auto;
        max-width: 100% !important;
        height: auto;
    }
    .wp-caption-text {
        margin-bottom: 1.25em;
        font-family: "Roboto Slab", Palatino, Cambria, "Droid Serif", Georgia, "Times New Roman", Times, serif;
        color: #666;
        font-size: .92857rem;
        line-height: 1.39286rem;
        font-style: italic;
        margin-top: 10px;
    }
}

.main.row {
    margin: 0;
    .article {
        .top-article {
            position: relative;
            h4 {
                line-height: 47.6px;
                font-weight: 700;
                margin: 0;
            }
            border-bottom: 4px solid black;
        }
        .top-article::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: 53px;
            background: black;
        }
        .img {
            margin-top: 1em;
            img {
                max-width: 100%;
            }
            .info {
                margin-top: 10px;
                display: block
            }
        }
    }
}
// trnag home 
.banner{
    width: 100%;
    img{
        width: 100%;
    }
}
#services{
    .title{
        width: 100%;
        text-align: center;
        margin: 50px 0 30px;
        h2{
            text-transform: uppercase;
            position: relative;
            font-size: 1.2em;
            width: 100%;
            font-weight: bold;
            display: block;
            &::after{
                content: '';
                width: 100px;
                height: 4px;
                background: red;
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translate(-50%);

            }
        }
    }
    .container{
        .item{
            text-align: left;
            line-height: 17px;
            border-bottom: 1px solid #ddd;
            position: relative;

            img{
                max-width: 100%;
            }
            >a{
                display: block;
                margin: 20px 0 5px;
                color: #3c3e40;
                padding-bottom: 12px;
                span{
                    text-transform: capitalize;
                    font-size: 11px;
                    font-weight: bold
                }
                &:hover{
                    text-decoration: none;
                    color: #5383d3;
                }
            }
            .detail{
                position: absolute;
                right: 0px;
                bottom: -28px;
                font-size: 13px;
                a{
                    color: #3c3e40;
                    background: #ddd;
                    padding: 10px 20px;
                    &:hover{
                        text-decoration: none;
                        color: #5383d3;
                    }
                }
            }
        }
    }
    .container.banner{
        .row{
            padding: 0 15px;
        }
        .info{
            height: 380px;
            background-color: #2a2a2a;
            padding: 0;
            h3{
                a{
                color: white;
                display: block;
                text-align: left;
                padding: 30px 15px 17px;
                    font-size: 18px;
                    font-weight: bold;
            }
            }
            .desc{
                color: #999;
                text-align: left;
                padding: 0 15px;
                position: relative;
                a{
                    font-size: 14px;
                    color: #5383d3;
                    line-height: 24px;
                }
                &::after{
                    content: '';
                    border-bottom: 1px solid;
                    width: calc(100% - 30px);
                    height: 1px;
                    background: #666;
                    position: absolute;
                    bottom: -16px;
                    left: 15px;
                }
            }
        }
        .image{
            height: 380px;
            overflow: hidden;
            padding: 0;
            img{
                max-width: 100%;
                height: 100%;
            }
        }
    }
    @media only screen and (min-width: 1024px) {
        
    }
    @media (min-width: 576px) and (max-width: 991px){
        .container {
            max-width: 90%;
        }
    }

    @media only screen and (max-width: 575px) {
        .container .row {
            .col-xs-6{
                max-width: 50%;
                margin-bottom: 50px;
            }
        }
        .container.banner{
            .info{
                height: 200px;
            }
            .image{
                height: 200px;
            }
        }
    }
}